/* Hero */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10rem;
}

.hero h2{
    color: var(--mainAccent);
}

.hero h4{
    color: var(--secondaryAccent);
}